.container {
  height: 40px !important;
  padding: 0 var(--ant-padding) !important;
  border-radius: var(--ant-border-radius);
  cursor: default !important;
  transition: background-color 0.15s ease;
}
